

.mytr{
    color: indigo;
    background-color: darkgoldenrod;
}
.myth{
    background-color:silver;
    color: cornsilk;
}

.mytr1{
    color: rgb(13, 17, 10);
    background-color: rgb(11, 178, 184);
}
.myth1{
    background-color:rgb(25, 27, 151);
    color: rgb(255, 220, 247);
}

